* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  background-image: url(kepek/headerhatter.png);
}

body {
  max-width: 1000px;
  margin: auto;
  background: #575454;
  padding: 10px;
  background-image: url(kepek/hatter.gif);
}

h1 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 50px;
  font-family: monospace;
  margin-bottom: 30px;
  border: 3px double #000000;
  border-radius: 10px;
}
a {
  background: #134b18;
  color: rgb(201, 211, 196);
  border: 2px solid #000000;
  padding: 10px;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
}

.navbar {
  text-align: center;
  gap: 8px;
  margin-bottom: 15px;
}

.navbar button {
  background: #134b18;
  color: rgb(201, 211, 196);
  border: 2px solid #000000;
  padding: 10px;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
}

.navbar button:hover {
  background: #444;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 12px;
}

.card {
  background: #bdbdbd;
  border: 1px solid #444;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.card-header {
  background: #134b18;
  color: rgb(201, 211, 196);
  text-align: center;
  padding: 12px;
  font-weight: bold;
  font-size: 22px;
}

.card-body {
  padding: 12px;
  text-align: center;
  line-height: 1.5;
  font-size: 14px;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border: 3px solid #3a3838;
  border-radius: 6px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
  height: 100px;
  margin-top: 30px;
  padding: 10px;
  background-image: url(kepek/footer/body.png);
  background-size: cover;
  background-position: center;
  border: 10px solid #2f2f2f;
  border-radius: 20px;
}

footer img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50px 40px 50px 40px;
  border: 5px solid slategray;
}

@media (max-width: 700px) {
  .navbar {
    display: grid;
    grid-template-columns: 1fr;
  }

  .card-header {
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  .navbar {
    display: grid;
    grid-template-columns: 1fr;
  }

  .card-container {
    grid-template-columns: 1fr;
  }
}
